

/* ---- Custom Scrollbar --- Pure CSS --- */
.testBox{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #0a3fa1;
}

.test_phrase{
    width: 450px;
    height: 500px;
    margin: 20px 0px;
    color: #dfdfdf;
    background: #0a3fa1;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    transition: --var1 500ms;
    transition-delay: 1000ms;
}

.test_phrase:hover {
    --var1: hsla(0, 2%, 67%, 0.529);
    transition: --var1 500ms;
}

.test_phrase::-webkit-scrollbar-track {
    background: #00000000;
    width: 8px;
}

.test_phrase::-webkit-scrollbar-thumb {
    background: var(--var1);
}


/* ---- Custom Scroll bar -- JS ------ */

@property --customScrollbarClr {
    syntax: "<color>";
    inherits: true;
    initial-value: #00000000;
}

.lorem-container {
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    transition: --customScrollbarClr 500ms 500ms;
    border: 2px solid violet;
}

.lorem {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 14px;
    color: #dfdfdf;
    background-color: #0a3fa1;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #00000000 #00000000;
}

.lorem::-webkit-scrollbar
{
    display: none;
    width: 0;
    height: 0;
}

.scrollbar {
    position: absolute;
    top: 0;
    right: 2px;
    width: 10px;
    height: 100%;
    padding: 5px 0;
    background-color: #00000000;
    cursor: pointer;
}

.thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    background-color: var(--customScrollbarClr);
    cursor: pointer;
}

.lorem-container:hover
{
    --customScrollbarClr: #ada9a987;
    transition: --customScrollbarClr 500ms;
}

.thumb:active
{
    --customScrollbarClr: #05f1de87;
    transition: --customScrollbarClr 500ms;
}
